extends Layout

block head
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="/css/myLessons.css")

block content
    main.container
        h1 My Lessons
        .lessons-list
            if lessons && lessons.length
                each lesson in lessons
                    .lesson-card
                        .lesson-info
                            h3= lesson.tutor_name
                            p Subject: #{lesson.subject_name || 'General'}
                            p
                                strong Date: 
                                | #{new Date(lesson.lesson_date).toLocaleDateString()}
                            p
                                strong Time: 
                                | #{lesson.lesson_time ? lesson.lesson_time.slice(0,5) : '...'} - #{lesson.end_time ? lesson.end_time.slice(0,5) : '...'}
                        .lesson-status(class=`status-${lesson.status}`)= lesson.status
            else
                .no-results
                    p You haven't booked any lessons yet.
                    a.btn-primary(href="/tutors") Find a Tutor
