mixin navbar(activePage)
  nav
    a.nav-logo(href='/') Drac
      span arys
    .nav-links
      a(href='/', class=activePage === 'home' ? 'active' : '') Home
      a(href='/tutors', class=activePage === 'search' ? 'active' : '') Search Tutors
      a(href='/about', class=activePage === 'about' ? 'active' : '') About
      a(href='/news', class=activePage === 'news' ? 'active' : '') News &amp; Feeds
      a(href='/subjects', class=activePage === 'subjects' ? 'active' : '') Subjects
    .nav-cta
      a.btn-primary(href='/login') Login
